@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

p {
  margin: 0;
}

:root {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-color: #dcdcdc;
  --placeholder-font-color: #909090;
  --font-color: #404040;
  --active-background-color: #1e64b7;
  --disabled-button-color: #c0c0c0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: #909090;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

:focus::placeholder {
  color: var(--placeholder-font-color);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
