:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #eff2f5;
}

h1 {
  color: #364963;
  font-weight: 500;
  font-size: 45px;
}
