.button {
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 46px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

.button.active {
  background-color: var(--active-background-color);
}
