@use "../../../helpers/mixins.scss" as *;
@use "../../../helpers/variables.scss" as *;

.title {
  @include alignItemsCenter;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: $container-bg-color;
  width: 20%;
  padding: 20px;
  border-radius: 10px;

  h2 {
    margin: 0;
  }
}

.result {
  @include alignItemsCenter;
  column-gap: 10px;
}

.btns {
  margin-top: 30px;
}
